
.Movie_list{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center;
    text-align: center;
}

.search-form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar{
    width: 50%;
    border: 1px solid grey;
    padding: 10px;
}
.search-button{
    border: none;
    padding: 10px 20px;
    border: 1px solid grey;
}
.movie{
    width: 33%;
    display: grid;
    grid-template-rows: 3fr;
    grid-gap: 5px;
    justify-content: center;
    
   
}
.title{
    
    font-size: large;
}
.year{
    
    font-size: large;
}
.img{
    object-fit: cover;
}